#main-page {
    >* {
        max-width: @min-sm;
        margin: 0 auto;
        padding: 0 @spacing;
    }

    header {
        height: 80px;
    }

    main {
        #words-wrapper {
            position: relative;
            margin: 4em 0;

            #blurred-message {
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
            }

            #words-input {
                display: block;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
    }

    @media (min-width: @min-md) {
        >* {
            max-width: @min-md;
        }
    }

    @media (min-width: @min-lg) {
        >* {
            max-width: @min-lg;
        }
    }

    @media (min-width: @min-xl) {
        >* {
            max-width: @min-xl;
        }
    }
}